<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muma.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.hk.sfs.entity.DoorplatePool">
		<!--
          WARNING - @mbggenerated
        -->
		<id column="id" jdbcType="BIGINT" property="id"/>
		<result column="city_code" jdbcType="VARCHAR" property="cityCode"/>
		<result column="doorplate_no" jdbcType="VARCHAR" property="doorplateNo"/>
		<result column="status" jdbcType="INTEGER" property="status"/>
		<result column="state" jdbcType="INTEGER" property="state"/>
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
		<result column="create_by" jdbcType="VARCHAR" property="createBy"/>
		<result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
		<result column="modify_by" jdbcType="VARCHAR" property="modifyBy"/>
	</resultMap>

	<select id="queryByPhone" resultType="com.muma.entity.User">
		SELECT  reg_phone,roal_id,create_time
		FROM tbl_user
		WHERE 
		reg_phone= #{regPhone} limit 1
	</select>
	<select id="queryByPhoneAndPwd" resultType="com.muma.entity.User">
		SELECT reg_phone,roal_id,create_time
		FROM tbl_user
		WHERE
		reg_phone= #{regPhone} AND password= #{password} limit 1
	</select>
	
	<select id="queryAll" resultType="User">
		SELECT *
		FROM _user
		ORDER BY create_time DESC
		limit #{offset},#{limit}
	</select>


   	<update id="addScore">
		UPDATE _user 
		SET 
		score = score + #{add}
	</update>

</mapper>